In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./CleanData_V2.csv', encoding='unicode_escape')
data.head()

,Gender,Race/Ethnicity,Home_City,Preferred_Langauge,Hobby_Interest,Budget (in millions),Fathers_Occupation,Mothers_Occupation,Study_Group,Degree_Program,Matric_Marks,Inter_Marks,Year_of_Admission,Campus,University
0,male,Punjabi,Peshawar,Urdu,Nothing,4,Doctor,House Wife,CS,BSCS,990,800,2019,Peshawar,FAST NUCES
1,male,Pashtun,Kohat,Pashto,Reading,5,Engrr,House Wife,Pre-Engrr,BSEE,900,924,2020,Islamabad,COMSATS
2,male,Punjabi,Islamabad,Punjabi,Gaming,12,Army,Doctor,Pre-Engrr,BSME,930,950,2019,Lahore,LUMS
3,female,Punjabi,Islamabad,Urdu,Nothing,4,Engrr,House Wife,Pre-Med,Medical,890,900,2019,Peshawar,KMC
4,female,Other,Lahore,English,Sports,10,Doctor,Teacher,Pre-Engrr,BSEE,900,950,2019,Lahore,LUMS

In [3]:
data.shape

(200, 15)

In [4]:
data['University'].value_counts()

FAST NUCES    20
COMSATS       20
LUMS          20
KMC           20
UOP           20
UHS           20
Aga Khan      20
NUST          20
UET           20
IMsciences    20
Name: University, dtype: int64

### Renaming Column Heading

In [5]:
data.rename(columns={'Budget (in millions)' : 'Budget'}, inplace=True)
data.head()

,Gender,Race/Ethnicity,Home_City,Preferred_Langauge,Hobby_Interest,Budget,Fathers_Occupation,Mothers_Occupation,Study_Group,Degree_Program,Matric_Marks,Inter_Marks,Year_of_Admission,Campus,University
0,male,Punjabi,Peshawar,Urdu,Nothing,4,Doctor,House Wife,CS,BSCS,990,800,2019,Peshawar,FAST NUCES
1,male,Pashtun,Kohat,Pashto,Reading,5,Engrr,House Wife,Pre-Engrr,BSEE,900,924,2020,Islamabad,COMSATS
2,male,Punjabi,Islamabad,Punjabi,Gaming,12,Army,Doctor,Pre-Engrr,BSME,930,950,2019,Lahore,LUMS
3,female,Punjabi,Islamabad,Urdu,Nothing,4,Engrr,House Wife,Pre-Med,Medical,890,900,2019,Peshawar,KMC
4,female,Other,Lahore,English,Sports,10,Doctor,Teacher,Pre-Engrr,BSEE,900,950,2019,Lahore,LUMS

### Catergorizing Data

In [6]:
data['Budget'].value_counts()
min_budget = data['Budget'].min()
max_budget = data['Budget'].max()

data['bins_budget'] = pd.cut(x=data['Budget'], bins=[min_budget, 5, 9, max_budget],
                    labels=['Low', 'Medium', 'High',])
data

,Gender,Race/Ethnicity,Home_City,Preferred_Langauge,Hobby_Interest,Budget,Fathers_Occupation,Mothers_Occupation,Study_Group,Degree_Program,Matric_Marks,Inter_Marks,Year_of_Admission,Campus,University,bins_budget
0,male,Punjabi,Peshawar,Urdu,Nothing,4,Doctor,House Wife,CS,BSCS,990,800,2019,Peshawar,FAST NUCES,Low
1,male,Pashtun,Kohat,Pashto,Reading,5,Engrr,House Wife,Pre-Engrr,BSEE,900,924,2020,Islamabad,COMSATS,Low
2,male,Punjabi,Islamabad,Punjabi,Gaming,12,Army,Doctor,Pre-Engrr,BSME,930,950,2019,Lahore,LUMS,High
3,female,Punjabi,Islamabad,Urdu,Nothing,4,Engrr,House Wife,Pre-Med,Medical,890,900,2019,Peshawar,KMC,Low
4,female,Other,Lahore,English,Sports,10,Doctor,Teacher,Pre-Engrr,BSEE,900,950,2019,Lahore,LUMS,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,male,Punjabi,Islamabad,Urdu,Nothing,4,Doctor,House Wife,Pre-Engrr,BSCE,996,997,2019,Islamabad,NUST,Low
196,male,Other,Islamabad,Urdu,Gaming,6,Doctor,House Wife,Pre-Engrr,BSCE,990,999,2019,Islamabad,NUST,Medium
197,male,Other,Islamabad,Punjabi,Gaming,7,Engrr,Doctor,Pre-Engrr,BSME,1010,998,2019,Islamabad,NUST,Medium
198,male,Other,Lahore,Urdu,Gaming,7,Doctor,Teacher,Pre-Engrr,BSEE,1009,920,2019,Islamabad,NUST,Medium
199,male,Sindhi,Karachi,Sindhi,Writing,6,Doctor,Teacher,Pre-Engrr,BSEE,997,967,2020,Islamabad,NUST,Medium

In [7]:
min_matric = data['Matric_Marks'].min()
max_matric = data['Matric_Marks'].max()

data['Percentage_Matric'] = (data['Matric_Marks']/1100)*100
data['Percentage_Inter'] = (data['Inter_Marks']/1100)*100


data['Matric_Grade'] = pd.cut(x=data['Percentage_Matric'], bins=[0, 49, 59, 69, 79, 89, 94, 100], labels=['F', 'E', 'D', 'C', 'B', 'A', 'A+'])
data['Inter_Grade'] = pd.cut(x=data['Percentage_Inter'], bins=[0, 49, 59, 69, 79, 89, 94, 100], labels=['F', 'E', 'D', 'C', 'B', 'A', 'A+'])

In [8]:
data.head()

,Gender,Race/Ethnicity,Home_City,Preferred_Langauge,Hobby_Interest,Budget,Fathers_Occupation,Mothers_Occupation,Study_Group,Degree_Program,Matric_Marks,Inter_Marks,Year_of_Admission,Campus,University,bins_budget,Percentage_Matric,Percentage_Inter,Matric_Grade,Inter_Grade
0,male,Punjabi,Peshawar,Urdu,Nothing,4,Doctor,House Wife,CS,BSCS,990,800,2019,Peshawar,FAST NUCES,Low,90.000000,72.727273,A,C
1,male,Pashtun,Kohat,Pashto,Reading,5,Engrr,House Wife,Pre-Engrr,BSEE,900,924,2020,Islamabad,COMSATS,Low,81.818182,84.000000,B,B
2,male,Punjabi,Islamabad,Punjabi,Gaming,12,Army,Doctor,Pre-Engrr,BSME,930,950,2019,Lahore,LUMS,High,84.545455,86.363636,B,B
3,female,Punjabi,Islamabad,Urdu,Nothing,4,Engrr,House Wife,Pre-Med,Medical,890,900,2019,Peshawar,KMC,Low,80.909091,81.818182,B,B
4,female,Other,Lahore,English,Sports,10,Doctor,Teacher,Pre-Engrr,BSEE,900,950,2019,Lahore,LUMS,High,81.818182,86.363636,B,B

In [9]:
data.drop(columns=['Budget', 'Matric_Marks', 'Inter_Marks',
          'Percentage_Matric', 'Percentage_Inter'], inplace=True)
data.head()

,Gender,Race/Ethnicity,Home_City,Preferred_Langauge,Hobby_Interest,Fathers_Occupation,Mothers_Occupation,Study_Group,Degree_Program,Year_of_Admission,Campus,University,bins_budget,Matric_Grade,Inter_Grade
0,male,Punjabi,Peshawar,Urdu,Nothing,Doctor,House Wife,CS,BSCS,2019,Peshawar,FAST NUCES,Low,A,C
1,male,Pashtun,Kohat,Pashto,Reading,Engrr,House Wife,Pre-Engrr,BSEE,2020,Islamabad,COMSATS,Low,B,B
2,male,Punjabi,Islamabad,Punjabi,Gaming,Army,Doctor,Pre-Engrr,BSME,2019,Lahore,LUMS,High,B,B
3,female,Punjabi,Islamabad,Urdu,Nothing,Engrr,House Wife,Pre-Med,Medical,2019,Peshawar,KMC,Low,B,B
4,female,Other,Lahore,English,Sports,Doctor,Teacher,Pre-Engrr,BSEE,2019,Lahore,LUMS,High,B,B

In [10]:
data.rename(columns={'bins_budget': "Budget"}, inplace=True)

data = data[['Gender', 'Race/Ethnicity', 'Home_City', 'Preferred_Langauge', 'Hobby_Interest', 'Budget', 'Fathers_Occupation',
            'Mothers_Occupation', 'Study_Group', 'Degree_Program', 'Matric_Grade', 'Inter_Grade', 'Year_of_Admission', 'Campus', 'University']]

data.head()

,Gender,Race/Ethnicity,Home_City,Preferred_Langauge,Hobby_Interest,Budget,Fathers_Occupation,Mothers_Occupation,Study_Group,Degree_Program,Matric_Grade,Inter_Grade,Year_of_Admission,Campus,University
0,male,Punjabi,Peshawar,Urdu,Nothing,Low,Doctor,House Wife,CS,BSCS,A,C,2019,Peshawar,FAST NUCES
1,male,Pashtun,Kohat,Pashto,Reading,Low,Engrr,House Wife,Pre-Engrr,BSEE,B,B,2020,Islamabad,COMSATS
2,male,Punjabi,Islamabad,Punjabi,Gaming,High,Army,Doctor,Pre-Engrr,BSME,B,B,2019,Lahore,LUMS
3,female,Punjabi,Islamabad,Urdu,Nothing,Low,Engrr,House Wife,Pre-Med,Medical,B,B,2019,Peshawar,KMC
4,female,Other,Lahore,English,Sports,High,Doctor,Teacher,Pre-Engrr,BSEE,B,B,2019,Lahore,LUMS

In [11]:
# data.to_csv('./CleanData_V2_Preprocessed.csv', index=False)